<launch>
    <!-- Launch gazebo -->
    <include file="$(find mir_gazebo)/launch/mir_maze_world.launch"/>

    <!-- Launch mobe_base -->
    <include file="$(find rm_mir_cleaner)/launch/move_base.launch"/>

    <!-- Launch laserscan merger -->
    <include file="$(find rm_mir_cleaner)/launch/laserscan_multi_merger.launch"/>

    <!-- Launch gmapping for SLAM -->
    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
        <remap from="scan" to="scan_multi" />
        <param name="linearUpdate" value="0.2"/>   <!-- Linear update rate -->
    </node>

    <!-- Launch the rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mir_mapper)/rviz/rviz-config.rviz" />

    <!-- Launch explore_lite for autonomous exploration -->
    <include file="$(find explore_lite)/launch/explore.launch"/>
</launch>
